$c-orange: #f0601d;
$c-charcoal: #272727;
$c-white: #fff;
$c-light-grey: #dddddd;

$c-primary: $c-orange;
$c-secondary: $c-charcoal;
$c-tertiary: $c-light-grey;

$c-banner-overlay: rgba(39, 39, 39, 0.9);
$c-orange-overlay: rgba(240, 96, 29, 0.8);
